[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
flask = "*"
alembic = "*"
flask-migrate = "*"
flask-script = "*"
flask-sqlalchemy = "*"
"psycopg2" = "*"
requests = "*"
"bs4" = "*"

[dev-packages]

[requires]
python_version = "3.6"
