# Source this file for development environment variables.
# Appropriate values will be set in production by heroku config

export DATABASE_URL=postgresql://user:password@localhost/dbname
export APP_SETTINGS="config.DevelopmentConfig"
export FLASK_APP=app.py
