{% extends "base.html" %}
{% block title %}Report{% endblock %}

{% block content %}
  <button type="button" onclick="copyToClipboard('toCopy')">Copy Report Output</button>
  <div id="toCopy">
  <h1>Report Output</h1>
  {% for notice_type in notices_dict %}
    <h2>{{ notice_type }}s</h2>
    {% if not notices_dict[notice_type] %}
      <p>Our quick check found no {{ notice_type }} accessibility violations!</p>
    {% else %}
      {% for notice in notices_dict[notice_type] %}
        <p>{{ notice.tag }} </p>
        <p>{{ notice.explanation }} </p>
        {% if not loop.last %}<br>{% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
  </div>
{% endblock %}
