{% extends "base.html" %}
{% block title %}Report{% endblock %}

{% block content %}
<div class="header">
  <h1>Report Output</h1>
</div>
<div class="container">
  <center>
    <button type="button" onclick="copyToClipboard('toCopy')">Copy Report Output</button>
  </center>
  <div id="toCopy">
  {% for url in url_notices %}
    {% set url_loop = loop %}
    {% if url_loop.first %}
      <h2>Homepage: <a href="{{ url }}">{{ url }}</a></h2>
    {% else %}
      <h2>Subpage: <a href="{{ url }}">{{ url }}</a></h2>
    {% endif %}
    {% set notices_dict = url_notices[url] %}
    {% for notice_type in notices_dict %}
      {% set notice_type_loop = loop %}
      {% set curr_type_notices = notices_dict[notice_type] %}
      {% if curr_type_notices | length == 1 %}
        <h3>{{ notice_type }}s: {{ curr_type_notices|length }} Violation Found</h3>
      {% else %}
        <h3>{{ notice_type }}s: {{ curr_type_notices|length }} Violations Found</h3>
      {% endif %}
      {% if not curr_type_notices %}
        <p>Our quick check found no {{ notice_type }} accessibility violations!</p>
      {% else %}
        {% if curr_type_notices|length > 3 %}
        <button class="toggleExtraNoticesBtn" id="{{ url_loop.index0 }}-{{ notice_type_loop.index0 }}" data-url-index="{{ url_loop.index0 }}" data-notice-type-index="{{ notice_type_loop.index0 }}">Show all {{ notice_type }} violations for {{ url }}</button>
          <br><br>
        {% endif %}
        {% for notice in curr_type_notices %}
          {% if loop.index0 <= 2 %}
            <p>{{ notice.tag }}</p>
            <p>{{ notice.explanation }}</p>
            {% if not loop.last %}<br>{% endif %}
          {% else %}
          <div class="extraNotices extra-{{ url_loop.index0 }}-{{ notice_type_loop.index0 }} hidden">
            <p>{{ notice.tag }}</p>
            <p>{{ notice.explanation }}</p>
            {% if not loop.last %}<br>{% endif %}
          </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endfor %}
  </div>
</div>
{% endblock %}
